{{ define "main" }}
  <main>
      <div class="p-3 mb-3">
        {{ .Content }}
        <br/>
        {{ template "partials/stats_timeline.html" .}}
        <br/>
        <h1>STATISTICHE GENERALI DEI TEAM HOGS</h1>
        <br/><br/>
        <center>
            <b>ATTUALMENTE MOLTO PARZIALI!!!</b>
        </center>
        <br/><br/>
        <div class="d-flex justify-content-around flex-wrap">
            <div>
                <h4 class="text-center">SENIOR</h4>
                <br />
                <table class="table table-sm table-striped table-bordered table-hover w-auto mx-auto text-center align-middle">
                    <tbody>
                        <tr>
                            <th colspan="2">OFFENSE</th>
                        </tr>
                        <tr>
                            <th>Rushing #</th>
                            <td>1882</td>
                        </tr>
                        <tr>
                            <th>Rushing Yards</th>
                            <td>13088</td>
                        </tr>
                        <tr>
                            <th>Rushing<br/> Average Gain per Game</th>
                            <td>239,9</td>
                        </tr>
                        <tr>
                            <th>Passing #</th>
                            <td>573</td>
                        </tr>
                        <tr>
                            <th>Passing Yards</th>
                            <td>4571</td>
                        </tr>
                        <tr>
                            <th>Passing<br/> Average Gain per Game</th>
                            <td>81,8</td>
                        </tr>
                        <tr>
                            <th>Total Offense Plays</th>
                            <th>2455</th>
                        </tr>
                        <tr>
                            <th>Total Offense Yards</th>
                            <th>17659,0</th>
                        </tr>
                        <tr>
                            <th>Total Offense<br/>Average Gain per Game</th>
                            <th>321,7</th>
                        </tr>
                        <tr>
                            <th colspan="2">DEFENSE</th>
                        </tr>
                        <tr>
                            <th>Tackles</th>
                            <td>970,5</td>
                        </tr>
                        <tr>
                            <th>Tackles For Loss</th>
                            <td>99</td>
                        </tr>
                        <tr>
                            <th>Tackles For Loss<br/>Yards</th>
                            <td>462,0</td>
                        </tr>
                        <tr>
                            <th>Sacks</th>
                            <td>45</td>
                        </tr>
                        <tr>
                            <th>Sacks<br/>Yards</th>
                            <td>364,0</td>
                        </tr>
                        <tr>
                            <th>Interceptions</th>
                            <td>54</td>
                        </tr>
                        <tr>
                            <th>Interceptions<br/>Yards</th>
                            <td>872,0</td>
                        </tr>
                        <tr>
                            <th>B.U.</th>
                            <td>53,0</td>
                        </tr>
                        <tr>
                            <th>P.D.</th>
                            <td>77,0</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>TOTAL FIRST DOWNS</th>
                            <td>860</td>
                        </tr>
                        <tr>
                            <th>Rushing</th>
                            <td>641</td>
                        </tr>
                        <tr>
                            <th>Passing</th>
                            <td>168</td>
                        </tr>
                        <tr>
                            <th>Penalty</th>
                            <td>51</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>PENALTIES AGAINST</th>
                            <td>341</td>
                        </tr>
                        <tr>
                            <th>Yards</th>
                            <td>3063,0</td>
                        </tr>
                        <tr>
                            <th>FUMBLES</th>
                            <td>92</td>
                        </tr>
                        <tr>
                            <th>Lost</th>
                            <td>51</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>TOTAL TDs</th>
                            <tH>262</tH>
                        </tr>
                        <tr>
                            <th>TOTAL POINTS SCORED</th>
                            <tH>1851</tH>
                        </tr>
                        <tr>
                            <th>TOTAL POINTS ALLOWED</th>
                            <tH>1183</tH>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h4 class="text-center">COLLEGE</h4>
                <br />
                <table class="table table-sm table-striped table-bordered table-hover w-auto mx-auto text-center align-middle">
                    <tbody>
                        <tr>
                            <th colspan="2">OFFENSE</th>
                        </tr>
                        <tr>
                            <th>Rushing #</th>
                            <td>1033</td>
                        </tr>
                        <tr>
                            <th>Rushing Yards</th>
                            <td>8068</td>
                        </tr>
                        <tr>
                            <th>Rushing<br/> Average Gain per Game</th>
                            <td>233,6</td>
                        </tr>
                        <tr>
                            <th>Passing #</th>
                            <td>258</td>
                        </tr>
                        <tr>
                            <th>Passing Yards</th>
                            <td>1452</td>
                        </tr>
                        <tr>
                            <th>Passing<br/> Average Gain per Game</th>
                            <td>45,2</td>
                        </tr>
                        <tr>
                            <th>Total Offense Plays</th>
                            <th>1291</th>
                        </tr>
                        <tr>
                            <th>Total Offense Yards</th>
                            <th>9520,0</th>
                        </tr>
                        <tr>
                            <th>Total Offense<br/>Average Gain per Game</th>
                            <th>278,9</th>
                        </tr>
                        <tr>
                            <th colspan="2">DEFENSE</th>
                        </tr>
                        <tr>
                            <th>Tackles</th>
                            <td>676,5</td>
                        </tr>
                        <tr>
                            <th>Tackles For Loss</th>
                            <td>127</td>
                        </tr>
                        <tr>
                            <th>Tackles For Loss<br/>Yards</th>
                            <td>623,0</td>
                        </tr>
                        <tr>
                            <th>Sacks</th>
                            <td>51</td>
                        </tr>
                        <tr>
                            <th>Sacks<br/>Yards</th>
                            <td>289,0</td>
                        </tr>
                        <tr>
                            <th>Interceptions</th>
                            <td>33</td>
                        </tr>
                        <tr>
                            <th>Interceptions<br/>Yards</th>
                            <td>310,0</td>
                        </tr>
                        <tr>
                            <th>B.U.</th>
                            <td>45</td>
                        </tr>
                        <tr>
                            <th>P.D.</th>
                            <td>66</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>TOTAL FIRST DOWNS</th>
                            <td>432</td>
                        </tr>
                        <tr>
                            <th>Rushing</th>
                            <td>349</td>
                        </tr>
                        <tr>
                            <th>Passing</th>
                            <td>65</td>
                        </tr>
                        <tr>
                            <th>Penalty</th>
                            <td>18</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>PENALTIES AGAINST</th>
                            <td>172</td>
                        </tr>
                        <tr>
                            <th>Yards</th>
                            <td>1470,0</td>
                        </tr>
                        <tr>
                            <th>FUMBLES</th>
                            <td>75</td>
                        </tr>
                        <tr>
                            <th>Lost</th>
                            <td>70</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>TOTAL TDs</th>
                            <tH>188</tH>
                        </tr>
                        <tr>
                            <th>TOTAL POINTS SCORED</th>
                            <tH>1341</tH>
                        </tr>
                        <tr>
                            <th>TOTAL POINTS ALLOWED</th>
                            <tH>348</tH>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h4 class="text-center">HIGHSCHOOL</h4>
                <br />
                <table class="table table-sm table-striped table-bordered table-hover w-auto mx-auto text-center align-middle">
                    <tbody>
                        <tr>
                            <th colspan="2">OFFENSE</th>
                        </tr>
                        <tr>
                            <th>Rushing #</th>
                            <td>701</td>
                        </tr>
                        <tr>
                            <th>Rushing Yards</th>
                            <td>4608</td>
                        </tr>
                        <tr>
                            <th>Rushing<br/> Average Gain per Game</th>
                            <td>212,8</td>
                        </tr>
                        <tr>
                            <th>Passing #</th>
                            <td>66</td>
                        </tr>
                        <tr>
                            <th>Passing Yards</th>
                            <td>799</td>
                        </tr>
                        <tr>
                            <th>Passing<br/> Average Gain per Game</th>
                            <td>33,3</td>
                        </tr>
                        <tr>
                            <th>Total Offense Plays</th>
                            <th>767</th>
                        </tr>
                        <tr>
                            <th>Total Offense Yards</th>
                            <th>5407</th>
                        </tr>
                        <tr>
                            <th>Total Offense<br/>Average Gain per Game</th>
                            <th>246,1</th>
                        </tr>
                        <tr>
                            <th colspan="2">DEFENSE</th>
                        </tr>
                        <tr>
                            <th>Tackles</th>
                            <td>552</td>
                        </tr>
                        <tr>
                            <th>Tackles For Loss</th>
                            <td>88</td>
                        </tr>
                        <tr>
                            <th>Tackles For Loss<br/>Yards</th>
                            <td>372</td>
                        </tr>
                        <tr>
                            <th>Sacks</th>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>Sacks<br/>Yards</th>
                            <td>133</td>
                        </tr>
                        <tr>
                            <th>Interceptions</th>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th>Interceptions<br/>Yards</th>
                            <td>78</td>
                        </tr>
                        <tr>
                            <th>B.U.</th>
                            <td>19</td>
                        </tr>
                        <tr>
                            <th>P.D.</th>
                            <td>29</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>TOTAL FIRST DOWNS</th>
                            <td>261</td>
                        </tr>
                        <tr>
                            <th>Rushing</th>
                            <td>214</td>
                        </tr>
                        <tr>
                            <th>Passing</th>
                            <td>23</td>
                        </tr>
                        <tr>
                            <th>Penalty</th>
                            <td>24</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>PENALTIES AGAINST</th>
                            <td>96</td>
                        </tr>
                        <tr>
                            <th>Yards</th>
                            <td>818</td>
                        </tr>
                        <tr>
                            <th>FUMBLES</th>
                            <td>59</td>
                        </tr>
                        <tr>
                            <th>Lost</th>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th colspan="2">------</th>
                        </tr>
                        <tr>
                            <th>TOTAL TDs</th>
                            <tH>94</tH>
                        </tr>
                        <tr>
                            <th>TOTAL POINTS SCORED</th>
                            <tH>667</tH>
                        </tr>
                        <tr>
                            <th>TOTAL POINTS ALLOWED</th>
                            <tH>353</tH>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </main>
{{ end }}