{{ define "main" }}
    <div class="p-3">
        {{ template "partials/stats_timeline.html".}}
    </div>
    <div class="p-3">
        <h2>{{ .Title }}</h2>
        <br/>
        <table class="table-bordered">
            <thead class="bg-danger text-light">
                <tr>
                    <th>TEAM STATISTICS</th>
                    <th>HOGS</th>
                    <th>OPP</th>
                </tr>
            </thead>
            <tbody>
                {{ $stat:=print "./content/statistiche/stats_" .Params.year ".csv"}}
                {{ $sep := ";" }}
                {{ range $i, $r := getCSV $sep $stat }}
                    <tr>
                        <th>{{ index $r 0 }}</th>
                        <td>{{ index $r 1 }}</td>
                        <td>{{ index $r 2 }}</td>
                    </tr>
                {{ end }}
            </tbody> 
        </table>
    </div>
{{ end }}