{{ define "main" }}
    <div class="p-3">
        {{ template "partials/stats_timeline.html".}}
    </div>
    <div class="p-3">
        <h2>STATISTICHE STAGIONE {{ .Title }}</h2>
        <br/>
        <div class="d-flex justify-content-around flex-wrap">
            <!-- STAT SENIOR -->
            {{ $stat_senior:=print "./content/statistiche/senior_" .Params.year ".csv"}}
            {{ if os.FileExists $stat_senior }} 
                <div>
                    <h4 class="text-center">SENIOR</h4><br />
                    <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                        <tbody>
                            {{ $sep := ";" }}
                            {{ range $i, $r := getCSV $sep $stat_senior }}
                                {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                                    <tr>
                                        <th colspan="3">{{ index $r 0 }}</th>
                                    </tr>
                                {{ else if or (strings.ContainsAny (index $r 0) "1234567890") (strings.ContainsAny (index $r 2) "1234567890") }}
                                    <tr>
                                        <td>{{ index $r 0 }}</td>
                                        <td>{{ index $r 1 }}</td>
                                        <td>{{ index $r 2 }}</td>
                                    </tr>
                                {{ else }}
                                    <tr>
                                        <th>{{ index $r 0 }}</th>
                                        <th>{{ index $r 1 }}</th>
                                        <th>{{ index $r 2 }}</th>
                                    </tr>
                                {{ end }}
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            {{ end }}
            <!-- STAT COLLEGE -->
            {{ $stat_college:=print "./content/statistiche/college_" .Params.year ".csv"}}
            {{ if os.FileExists $stat_college }} 
                <div>
                    <h4 class="text-center">COLLEGE</h4><br />
                    <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                        <tbody>
                            {{ $sep := ";" }}
                            {{ range $i, $r := getCSV $sep $stat_college }}
                                {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                                    <tr>
                                        <th colspan="3">{{ index $r 0 }}</th>
                                    </tr>
                                {{ else if or (strings.ContainsAny (index $r 0) "1234567890") (strings.ContainsAny (index $r 2) "1234567890") }}
                                    <tr>
                                        <td>{{ index $r 0 }}</td>
                                        <td>{{ index $r 1 }}</td>
                                        <td>{{ index $r 2 }}</td>
                                    </tr>
                                {{ else }}
                                    <tr>
                                        <th>{{ index $r 0 }}</th>
                                        <th>{{ index $r 1 }}</th>
                                        <th>{{ index $r 2 }}</th>
                                    </tr>
                                {{ end }}
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            {{ end }}
            <!-- STAT HIGHSCHOOL -->
            {{ $stat_highschool:=print "./content/statistiche/highschool_" .Params.year ".csv"}}
            {{ if os.FileExists $stat_highschool }} 
                <div>
                    <h4 class="text-center">HIGHSCHOOL</h4><br />
                    <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                        <tbody>
                            {{ $sep := ";" }}
                            {{ range $i, $r := getCSV $sep $stat_highschool }}
                                {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                                    <tr>
                                        <th colspan="3">{{ index $r 0 }}</th>
                                    </tr>
                                {{ else if or (strings.ContainsAny (index $r 0) "1234567890") (strings.ContainsAny (index $r 2) "1234567890") }}
                                    <tr>
                                        <td>{{ index $r 0 }}</td>
                                        <td>{{ index $r 1 }}</td>
                                        <td>{{ index $r 2 }}</td>
                                    </tr>
                                {{ else }}
                                    <tr>
                                        <th>{{ index $r 0 }}</th>
                                        <th>{{ index $r 1 }}</th>
                                        <th>{{ index $r 2 }}</th>
                                    </tr>
                                {{ end }}
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}