{{ define "main" }}
  <main>
    <div class="p-3 text-center">
      <h3>SPONSOR</h3>
      <br />
      <h5>Gli amici che hanno scelto di sostenerci</h5>
      <div class="d-flex justify-content-center">
        {{ $data := newScratch }}
        <div class="p-2 w-75 text-center">
          <!-- OFFICIAL SPONSOR -->
          <div class="d-flex justify-content-center m-5" style="background-color: #4D101C; color: #C0C0C0;">
            <span class="align-middle" style="color:#FAAA23; font-weight: bold; font-size: large;">OFFICIAL SPONSOR</span>
          </div>
          <div class="d-flex justify-content-center flex-wrap">
            {{ with .Site.GetPage "section" "sponsor" }}
            {{ range where .Site.Pages ".Params.categoria" 4 }}
            {{ $data.Set "altezza_sponsor" (add 60 ( mul 55 ( mul .Params.categoria 0.5 ))) }}
            <div>
              {{ if .Params.sito }}
              <a href="{{ .Params.Sito }}" target="#"><img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}"></a>
              {{ else }}
              <img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}">
              {{ end }}
            </div>
            {{ end }}
            {{ end }}
          </div>
          <!-- TOP SPONSOR -->
          <div class="d-flex justify-content-center m-5" style="background-color: #4D101C; color: #C0C0C0;">
            <span class="align-middle" style="color:#FAAA23; font-weight: bold; font-size: large;">TOP SPONSOR</span>
          </div>
          <div class="d-flex justify-content-center flex-wrap">
            {{ with .Site.GetPage "section" "sponsor" }}
            {{ range where .Site.Pages ".Params.categoria" 3 }}
            {{ $data.Set "altezza_sponsor" (add 60 ( mul 55 ( mul .Params.categoria 0.35 ))) }}
            <div class="p-1">
              {{ if .Params.sito }}
              <a href="{{ .Params.Sito }}" target="#"><img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}"></a>
              {{ else }}
              <img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}">
              {{ end }}
            </div>
            {{ end }}
            {{ end }}
          </div>
          <!-- SPONSOR STORICI -->
          <div class="d-flex justify-content-center m-5" style="background-color: #4D101C; color: #C0C0C0;">
            <span class="align-middle" style="color:#FAAA23; font-weight: bold; font-size: large;">SPONSOR STORICI</span>
          </div>
          <div class="d-flex justify-content-center flex-wrap">
            {{ with .Site.GetPage "section" "sponsor" }}
            {{ range where .Site.Pages ".Params.categoria" 2 }}
            {{ $data.Set "altezza_sponsor" (add 60 ( mul 55 ( mul .Params.categoria 0.15 ))) }}
            <div class="p-1">
              {{ if .Params.sito }}
              <a href="{{ .Params.Sito }}" target="#"><img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}"></a>
              {{ else }}
              <img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}">
              {{ end }}
            </div>
            {{ end }}
            {{ end }}
          </div>
          <!-- PREMIUM PARTNER -->
          <div class="d-flex justify-content-center m-5" style="background-color: #4D101C; color: #C0C0C0;">
            <span class="align-middle" style="color:#FAAA23; font-weight: bold; font-size: large;">PREMIUM PARTNER</span>
          </div>
          <div class="d-flex justify-content-center flex-wrap">
            {{ with .Site.GetPage "section" "sponsor" }}
            {{ range where .Site.Pages ".Params.categoria" 1 }}
            {{ $data.Set "altezza_sponsor" (add 50 ( mul 55 ( mul .Params.categoria 0.20 ))) }}
            <div class="p-1">
              {{ if .Params.sito }}
              <a href="{{ .Params.Sito }}" target="#"><img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}"></a>
              {{ else }}
              <img src="{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}">
              {{ end }}
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }} 