{{ define "main" }}
<div>
  <img src="/sito_hogs/img/banner_titolo.jpg" width="100%">
</div>
<div class="text-center p-3">
  <h1 class="titolo" style="color:#4D101C;">DG PLAST HOGS REGGIO EMILIA</h1>
</div>
<div class="p-3">
  <div class="d-flex bd-highlight">
    <!-- SEZIONE STORIA -->
    <div class="p-3 flex-fill">
      <h3 class="text-center">
        {{ with .Site.GetPage "section" "storia" }}{{ .Title }}
      </h3>
          {{ range first 10 .Data.Pages }}
                <a href="{{ .Permalink }}"> {{ .Title }} </a> <br />
          {{ end}}
      {{ end }}
    </div>

    <!-- SEZIONE NEWS -->
    <div class="p-2 flex-fill bd-highlight flex-grow-1 ">
      <h3 class="text-center">
        {{ with .Site.GetPage "section" "news" }}{{ .Title }}
      </h3>
          {{ range first 10 (sort .Data.Pages ".Params.date_writing" "desc") }}
                <a href="{{ .Permalink }}"> {{ .Params.Data}} - {{ .Title }} </a> <br />
          {{ end}}
      {{ end }}
      <div class="text-center mt-3">
        <a href="./news/"> >> ARCHIVIO NEWS << </a>
      </div>
    </div>

    <!-- SEZIONE RISULTATI -->
    <div class="p-2 flex-fill">
      <h3 class="text-center">Risultati</h3>
        <div>
          {{ $anno := dateFormat "2006" now }}
          <div class="flex-column d-flex justify-content-around flex-wrap">
            <!-- CLASSIFICA SENIOR -->
            {{ $team_senior:=print "./content/team/dati/senior_grid_" $anno ".csv"}}
            {{ if os.FileExists $team_senior }}
            <div>
              <div>
                <h6 class="text-center">CLASSIFICA SENIOR</h6>
                <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                  <tbody>
                    {{ $sep := ";" }}
                    {{ range $i, $r := getCSV $sep $team_senior }}
                    {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                    <tr>
                      <th colspan="4">{{ index $r 0 }}</th>
                    </tr>
                    {{ else }}
                    <tr>
                      <td>{{ index $r 0 }}</td>
                      <td>{{ index $r 1 }}</td>
                      <td>{{ index $r 2 }}</td>
                      <td>{{ index $r 3 }}</td>
                    </tr>
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
              {{ end }}
              <!-- CALENDARIO SENIOR -->
              {{ $cal_senior:=print "./content/team/dati/senior_games_" $anno ".csv"}}
              {{ if os.FileExists $cal_senior }}
                <h6 class="text-center">CALENDARIO</h6>
                <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                  <tbody>
                    {{ $sep := ";" }}
                    {{ range $i, $r := getCSV $sep $cal_senior }}
                    {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                    <tr>
                      <th colspan="4">{{ index $r 0 }}</th>
                    </tr>
                    {{ else }}
                    <tr>
                      <td>{{ index $r 0 }}</td>
                      <td>{{ index $r 1 }}</td>
                      <td>{{ index $r 2 }}</td>
                      <td>{{ index $r 3 }}</td>
                    </tr>
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
            </div>
            {{ end }}


            <!-- CLASSIFICA COLLEGE -->
            {{ $team_college:=print "./content/team/dati/college_grid_" $anno ".csv"}}
            {{ if os.FileExists $team_college }}
            <div>
              <h6 class="text-center">CLASSIFICA COLLEGE</h6>
              <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                <tbody>
                  {{ $sep := ";" }}
                  {{ range $i, $r := getCSV $sep $team_college }}
                  {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                  <tr>
                    <th colspan="4">{{ index $r 0 }}</th>
                  </tr>
                  {{ else }}
                  <tr>
                    <td>{{ index $r 0 }}</td>
                    <td>{{ index $r 1 }}</td>
                    <td>{{ index $r 2 }}</td>
                    <td>{{ index $r 3 }}</td>
                  </tr>
                  {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
            {{ end }}
            <!-- CALENDARIO COLLEGE -->
            {{ $cal_college:=print "./content/team/dati/college_games_" $anno ".csv"}}
            {{ if os.FileExists $cal_college }}
            <div>
              <h6 class="text-center">CALENDARIO</h6>
              <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                <tbody>
                  {{ $sep := ";" }}
                  {{ range $i, $r := getCSV $sep $cal_senior }}
                  {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                  <tr>
                    <th colspan="4">{{ index $r 0 }}</th>
                  </tr>
                  {{ else }}
                  <tr>
                    <td>{{ index $r 0 }}</td>
                    <td>{{ index $r 1 }}</td>
                    <td>{{ index $r 2 }}</td>
                    <td>{{ index $r 3 }}</td>
                  </tr>
                  {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
            {{ end }}
          
          
            <!-- CLASSIFICA HIGHSCHOOL -->
            {{ $team_highschool:=print "./content/team/dati/highschool_grid_" $anno ".csv"}}
            {{ if os.FileExists $team_highschool }}
            <div>
              <h6 class="text-center">CLASSIFICA HIGHSCHOOL</h6>
              <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                <tbody>
                  {{ $sep := ";" }}
                  {{ range $i, $r := getCSV $sep $team_highschool }}
                  {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                  <tr>
                    <th colspan="4">{{ index $r 0 }}</th>
                  </tr>
                  {{ else }}
                  <tr>
                    <td>{{ index $r 0 }}</td>
                    <td>{{ index $r 1 }}</td>
                    <td>{{ index $r 2 }}</td>
                    <td>{{ index $r 3 }}</td>
                  </tr>
                  {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
            {{ end }}
            <!-- CALENDARIO HIGHSCHOOL -->
            {{ $cal_highschool:=print "./content/team/dati/highschool_games_" $anno ".csv"}}
            {{ if os.FileExists $cal_highschool }}
            <div>
              <h6 class="text-center">CALENDARIO</h6>
              <table class="table table-sm table-bordered text-center valign-middle w-auto mx-auto" style="font-size: small;">
                <tbody>
                  {{ $sep := ";" }}
                  {{ range $i, $r := getCSV $sep $cal_highschool }}
                  {{ if and (eq (index $r 1) "") (eq (index $r 2) "") }}
                  <tr>
                    <th colspan="4">{{ index $r 0 }}</th>
                  </tr>
                  {{ else }}
                  <tr>
                    <td>{{ index $r 0 }}</td>
                    <td>{{ index $r 1 }}</td>
                    <td>{{ index $r 2 }}</td>
                    <td>{{ index $r 3 }}</td>
                  </tr>
                  {{ end }}
                  {{ end }}
                </tbody>
              </table>
            </div>
            {{ end }}
          </div>
        </div>
      
    </div>

  </div>
</div>

<!-- SEZIONE SPONSOR -->
<div class="p-3 text-center">
    {{ $data := newScratch }}
    {{ with .Site.GetPage "section" "sponsor" }}
    <h3>Sponsor</h3>
      {{ range sort .Data.Pages ".Params.categoria" "desc" }}
        {{ $data.Set  "altezza_sponsor" (add 40 ( mul 35 ( mul .Params.categoria 0.25 ))) }}
        {{ if .Params.Sito }}
          <a href="{{ .Params.Sito }}" target="#"><img src="/sito_hogs//sito_hogs/{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}"></a>
        {{ else }}
          <img src="/sito_hogs//sito_hogs/{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}">
        {{ end }}
      {{ end}}
  {{ end }}
</div>
{{ end }}