{{ define "main" }}
<div>
  <img src="/sito_hogs/img/banner_titolo.jpg" width="100%">
</div>
<div class="text-center p-3">
  <h1 class="titolo" style="color:#4D101C;">DG PLAST HOGS REGGIO EMILIA</h1>
</div>
<div class="p-3">
  <div class="d-flex bd-highlight">
    <!-- SEZIONE STORIA -->
    <div class="p-3 flex-fill">
      <h3 class="text-center">
        {{ with .Site.GetPage "section" "storia" }}{{ .Title }}
      </h3>
          {{ range first 10 .Data.Pages }}
                <a href="{{ .Permalink }}"> {{ .Title }} </a> <br />
          {{ end}}
      {{ end }}
    </div>

    <!-- SEZIONE NEWS -->
    <div class="p-2 flex-fill bd-highlight flex-grow-1 ">
      <h3 class="text-center">
        {{ with .Site.GetPage "section" "news" }}{{ .Title }}
      </h3>
          {{ range first 10 (sort .Data.Pages ".Params.date_writing" "desc") }}
                <a href="{{ .Permalink }}"> {{ .Params.Data}} - {{ .Title }} </a> <br />
          {{ end}}
      {{ end }}
      <div class="text-center mt-3">
        <a href="./news/"> >> ARCHIVIO NEWS << </a>
      </div>
    </div>

    <!-- SEZIONE RISULTATI -->
    <div class="p-2 flex-fill">
      <h3 class="text-center">Risultati</h3>
      <!--
      <h3>
        {{ with .Site.GetPage "section" "storia" }}{{ .Title }}
      </h3>
          {{ range first 10 .Data.Pages }}
                <a href="{{ .Permalink }}"> {{ .Title }} </a> <br />
          {{ end}}
      {{ end }}
      -->
    </div>

  </div>
</div>

<!-- SEZIONE SPONSOR -->
<div class="p-3 text-center">
    {{ $data := newScratch }}
    {{ with .Site.GetPage "section" "sponsor" }}
    <h3>Sponsor</h3>
      {{ range sort .Data.Pages ".Params.categoria" "desc" }}
        {{ $data.Set  "altezza_sponsor" (add 40 ( mul 35 ( mul .Params.categoria 0.25 ))) }}
        {{ if .Params.Sito }}
          <a href="{{ .Params.Sito }}" target="#"><img src="/sito_hogs//sito_hogs/{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}"></a>
        {{ else }}
          <img src="/sito_hogs//sito_hogs/{{ .Params.Logo }}" height="{{ $data.Get "altezza_sponsor" }}">
        {{ end }}
      {{ end}}
  {{ end }}
</div>
{{ end }}