<footer>
    <div class="mx-auto p-3">
        <center>
        <table>
            <tr>
                <td width="50%">
                    <table>
                        <tr>
                            <td colspan="2">
                                <center><a href="/"><img src="/img/logo_piccolo.png" width="80" alt="Logo Hogs Reggio Emilia AFT"></a></center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                🏠 
                            </td>
                            <td>
                                <span class="mini">
                                    Via Papa Giovanni XXIII 18, <br />
                                    42122 Reggio Emilia
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                📞
                            </td>
                            <td>
                                <span class="mini">
                                    333 1808657
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                📧 
                            </td>
                            <td>
                                <a class="mini" href="mailto:info@hogs.it">info@hogs.it</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                       <img src="/img/banner_bolo.jpg" alt="Scuola Football Americano e Flag Football Enea Bolo Codeluppi">
                </td>
            </tr>
        </table>
    </center>
    </div>   
</footer>