<header>
<div id="nav-border" class="container p-3">
    <nav id="nav" class="nav navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}/img/logo_piccolo.png" width="125" alt="Logo Hogs Reggio Emilia AFT">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Storia
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="{{ .URL }}">Gli anni Hogs</a></li>
                                    {{ range .Children }}
                                    <li>
                                        <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ else if eq .HasChildren false }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
</div>
</header>