<!DOCTYPE html>
<html>
    {{ template "partials/head.html" . }}
    <body>
        {{ template "partials/header.html" . }}
        <div id="content">
          <div class="p-3">
            <br/>
            <h5 class="text-uppercase">{{ .Title }}</h5>
          </div>
          <div class="p-3">
            {{ range sort .Data.Pages ".Params.date_writing" "desc" }}
              <div class="p-1">
                <a href="{{.RelPermalink}}">{{ .Params.data }} - {{.Title }}</a>
              </div>
            {{ end }}
          </div>   
          <div class="text-center mt-3">
            <a href="../../news/"> >> ARCHIVIO NEWS << </a>
            <p></p>
          </div>     
        </div>
        {{ template "partials/footer.html" . }}
        {{ template "partials/script.html" . }}
    </body>
</html>